<div class="">
    <h2 class="panel-heading"> WHO TO FOLLOW</h2>
    <% @user.each do |user| %>
    <article class="media">
        <figure class="media-left">
            <p class="image is-32x32">
                <%= gravatar_image_tag(user.email, size: 32, alt: user.name) %>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><%= user.name %></strong><br>
                    <small> <%= user.username %></small><br>
                </p>

            </div>

        </div>
        <%= follow_or_unfollow_button(user) %>
    </article>
    <% end %>