<div class="column is-one-quarter">
<nav class="panel">
<a class="panel-block"><i class="fa fa-home px-2"> </i>Home</a>
<a class="panel-block"><i class="fa fa-at px-2"> </i>Connect</a>
<a class="panel-block"><i class="fa fa-hashtag px-2"> </i>Discover</a>
<a class="panel-block"><i class="fa fa-user px-2"> </i>Profile</a>
<a class="panel-block"><i class="fa fa-ruler-combined px-2"> </i>Statistics</a>
</nav>
</div>