<div class="column is-one-quarter profile">
    <nav class="panel trend-list">
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fa fa-home "> </i></span>
            Home</a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fa fa-at"> </i></span>
            Connect</a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fa fa-hashtag"> </i></span>
            Discover</a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fa fa-user"> </i></span>
            Profile</a>
        <a class="panel-block">
            <span class="panel-icon">
                <i class="fa fa-braille"> </i></span>
            Statistics</a>
    </nav>
</div>