<div class="column is-one-quarter profile">
    <nav class="panel trend-list">
        <%= link_to root_path, class: "panel-block" do %>
        <span class="panel-icon">
            <i class="fa fa-home "> </i></span>
        Home
        <% end %>
        <%= link_to  root_path, class: "panel-block" do %>
        <span class="panel-icon">
            <i class="fa fa-pencil"> </i></span>
        New Tweet
        <% end %>
        <%= link_to edit_user_registration_path, class: "panel-block" do %>
        <span class="panel-icon">
            <i class="fa fa-user"> </i></span>
        Edit Profile
        <% end %>
    </nav>
</div>