
                <div class="column is-two-thirds">
                    <%= render 'feed'%>
                </div>
                <div class="column is-one-third">
                    <%= suggest %>
                </div>

