<section class="">

                <div class="column is-two-thirds">
                    <%= render 'feed'%>
                </div>
                <div class="column">
                    <%= suggest %>
                </div>

</section>